<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='/style.css')}}">
    <title>Document</title>
</head>
<body>
     <div class="navbar">
  <a href="/">Home</a>
  <a href="/sobre">Sobre</a>
  <a href="/contatos">Contatos</a>
  
</div>

     <h1>Sobre a Barbearia Json</h1>
<nav class="p_sobre">
    <p>
        Fundada com paixão pelo estilo e tradição, a <strong>Barbearia Json</strong> nasceu para oferecer muito mais do que simples cortes de cabelo e barba.
        Nosso objetivo é resgatar o verdadeiro espírito das antigas barbearias, trazendo modernidade, atendimento personalizado e um ambiente acolhedor para todos os nossos clientes.
    </p>

    <p>
        Aqui, cada detalhe é pensado para que você tenha uma experiência única: do atendimento ao cafezinho, do corte clássico ao estilo mais ousado.
        Valorizamos a autenticidade e o cuidado em cada serviço, acreditando que cuidar de si mesmo é um gesto de autoestima e bem-estar.
    </p>

    <p>
        Seja muito bem-vindo à Barbearia Json. Sinta-se em casa, relaxe e saia daqui renovado!
    </p>
    </nav>
</body>
</html>